## Python Lab test

In [3]:
# Importing necessary libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Reading dataset
df = pd.read_csv('AQI_Data.csv')

In [8]:
# Question 1
# Displaying 1st 8 rows using head
print(df.head(8))
# Printing causes abnormalities in showing so it would be better to just write df.head(8)

    City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0  Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1  Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2  Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3  Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4  Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019
5  Delhi  2024-01-06  369    321   327  64.679037  0.423996   22.359803
6  Delhi  2024-01-07  365    328   347  44.687485  0.130336   53.869827
7  Delhi  2024-01-08  493    513   526  54.565922  0.165338  182.770876

         SO2
0  25.062474
1   5.926302
2  32.786668
3   7.099955
4  28.140550
5  47.699849
6  15.846146
7  16.645099

In [9]:
# Question 2
# Displaying last 5 rows using tail
print(df.tail())
# no argument was passed as by default it will show 5 rows

      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
2557  Pune  2024-12-27  419    448   462  26.701714  1.553582   86.973954
2558  Pune  2024-12-28  252    202   182  19.920962  1.599821   41.939484
2559  Pune  2024-12-29  365    414   410  80.815702  1.919950   39.982167
2560  Pune  2024-12-30  253    269   285  66.231614  0.611800   63.966705
2561  Pune  2024-12-31   95    140   117  99.505459  0.122817  112.774765

            SO2
2557  44.263423
2558  20.545087
2559  22.646297
2560  10.580135
2561  30.814997

In [10]:
# Question 3
print(df.info())
# info() will show overview of dataset i.e. all the data type and null values of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2562 entries, 0 to 2561
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    2562 non-null   object
 1   Date    2562 non-null   object
 2   AQI     2562 non-null   int64
 3   PM2.5   2562 non-null   int64
 4   PM10    2562 non-null   int64
 5   NO2     2562 non-null   float64
 6   CO      2562 non-null   float64
 7   O3      2562 non-null   float64
 8   SO2     2562 non-null   float64
dtypes: float64(4), int64(3), object(2)
memory usage: 180.3+ KB
None

In [15]:
#  Question 4
# mean of AQI , max of PM2.5 and min of PM10
df.groupby('City')

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000013FE0765710>

In [16]:
df['City'].unique()

array(['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bangalore', 'Hyderabad',
       'Pune'], dtype=object)

In [20]:
city = df['City'].unique()
# This will return all unique city names

In [21]:
city

array(['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bangalore', 'Hyderabad',
       'Pune'], dtype=object)

In [50]:
Delhi = df[df['City']=='Delhi']

In [25]:
Delhi['AQI'].mean()

279.1530054644809

In [26]:
Delhi['PM2.5'].max()

539

In [27]:
Delhi['PM10'].min()

-17

In [62]:
# I am making different subdataset with only selected city and then finding required values

In [28]:
Mumbai = df[df['City']=='Mumbai']

In [30]:
print(Mumbai['AQI'].mean())
print(Mumbai['PM2.5'].max()

287.7978142076503
519
20

In [31]:
Kolkata = df[df['City']=='Kolkata']

In [32]:
print(Kolkata['AQI'].mean())
print(Kolkata['PM2.5'].max())
print(Kolkata['PM10'].min())

265.9016393442623
535
-8

In [33]:
Chennai = df[df['City']=='Chennai']

In [35]:
print(Chennai['AQI'].mean())
print(Chennai['PM2.5'].max())
print(Chennai['PM10'].min())

274.3142076502732
530
-26

In [38]:
Banglore = df[df['City']=='Bangalore']

In [39]:
print(Banglore['AQI'].mean())
print(Banglore['PM2.5'].max())
print(Banglore['PM10'].min())

279.54371584699453
527
-1

In [40]:
Hyderabad = df[df['City']=='Hyderabad']

In [41]:
print(Hyderabad['AQI'].mean())
print(Hyderabad['PM2.5'].max())
print(Hyderabad['PM10'].min())

280.3551912568306
543
15

In [42]:
pune = df[df['City']=='Pune']

In [43]:
print(pune['AQI'].mean())
print(pune['PM2.5'].max())
print(pune['PM10'].min())

276.379781420765
532
6

In [59]:
# Question 5
# Pivot table
pivot = pd.pivot_table(df,index = 'City' ,values = 'PM2.5',aggfunc = 'max')
# To make pivot table I used pd.pivot_table with city as index and PM2.5 as values and max as agg func

In [61]:
pivot.to_csv('Pivot table')
# This will save pivot table in file named 'Pivot Table'.